@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@400;500&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    color: #850364;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(135deg, #772162, #3a173a);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

h1, h2 {
    font-size: 2.8rem;
    margin-bottom: 20px;
    color: aliceblue;
}

h3 {
    font-size: 70px;
    color: aliceblue;
}

.contador {
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.bloque {
    background: #fff;
    border: 5px solid #850364;
    border-radius: 15px;
    padding: 15px 20px;
    min-width: 90px;
}

.bloque span {
    display: block;
    font-size: 1.3rem;
    font-weight: bold;
}

.mensaje {
    font-size: 1.2rem;
    color: aliceblue;
    margin: 0 auto;
}

.mensaje1 {
    display: inline-block;
    margin: 0 auto;
    max-width: 800px;
}

.carta {
    background: rgba(255, 255, 255, 0.95);
    max-width: 800px;
    padding: 40px 30px;
    border: 5px solid #850364;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: justify;
    line-height: 1.8;
    color: #444;
    margin: 50px auto 0 auto;
}

.carta h3 {
    font-family: 'WindSong', cursive;
    font-weight: 500;
    font-size: 2.3rem;
    color: #b33c86;
    text-align: center;
    margin-bottom: 20px;
}

.firma {
    margin-top: 30px;
    font-family: 'WindSong', cursive;
    font-size: 1.2rem;
    color: #555;
    text-align: right;
}

footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.8);
}
